// border-radius
$br-round: 50%;
$br-xsoft: 30px;
$br-soft: 24px;
$br-sharp: 12px;

//transparency colors
$white-mx: #ffffffcc;
$white-md: #ffffff96;
$white-qr: #ffffff48;
$white-egh: #ffffff24;
$white-tp: #ffffff12;


//background color
$bg-light: linear-gradient(0deg, #1a156a 0%, #111d59 0%, #8493e3 50%, #72a5d2 100%);
$bg-dark: linear-gradient(0deg, #2f2f2f 0%, #1d2330 0%, #11113e 50%, #111d5a 100%);

// text color
$text-color: #3772b9;
$title-gradient: linear-gradient(0deg, #123acc 0%, #255ea4 0%, #a5bbf3);

//font-size desktop
$fs-title-dk:3.25em;
$fs-subtitle-dk: 2em;
$fs-big-text-dk: 1.5em;
$fs-item-dk: 1.2em;
$fs-text-dk: 1.1em;

//font-size mobile devices
$fs-title-mb:2.8em;
$fs-subtitle-mb:1.8em;
$fs-item-mb: 1.2em;
$fs-text-mb: 1.1em;
